.footer {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 2px solid blue;
  height: 60px;
}

.hor-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
