
  <footer class="footer">
    <div class="container-fluid hor-container ">
      <div class="row row-cols-1 align-items-end links">
        <a class="col" href="https://github.com/MagShadowLight">Github</a>
        <a class="col" href="https://www.youtube.com/@magshadowlight">Youtube</a>
        <!--<a class="col nav-link">Links</a>-->
      </div>
      <a class="nav-link">Banner Logo Image</a>
      <div class="row row-cols-1 align-items-end social">
        <a class="link" href="https://x.com/MagShadowLight">Twitter</a>
        <a class="" href="https://x.com/MagdaShadow2">Backup Twitter</a>
        <a class="" href="https://bsky.app/profile/magshadowlight.bsky.social">Bluesky</a>
        <!--<a class="nav-link">Social Media</a>-->
      </div>
    </div>
  </footer>
