<div class="about-me-container container-fluid col-md-6 col-lg-4 bg-info text-center pb-1 mb-2">
  <h2 class="mb-3">About Me:</h2>
  <p class="mb-2">I have been into the software engineering field for a long time since I was young, around the generation where there is a competition by FIRST that uses the lego set called Lego Mindstorms and block programming.</p>
  <p class="mb-2">I am currently working toward the bachelor's degree of Software Engineering</p>
  <p class="mb-2">My goal for this path would be work at the company that I may want to work, get a degree or certificate that is either go with or above bachelor's degree', or start my own business involving those field.</p>
</div>
<div class="about-website-container container-fluid col-md-6 col-lg-4 bg-info mt-3 spacer">
  <div class=" text-center">
    <h2>About This Website:</h2>
    <p>This website serves as a way to share the story of my life whether it can be from the past, present, or future. It can be from tech related, linux, to what going on in the world and provide a portfolio of the projects that I have made or currently making.</p>
    <p class="text-danger fw-bold">Be warned, there may be lore contain from my past.</p>
  </div>
  <div class="row">
    <div class="text-center col-6">
      <p>Click the Blog button to see the life story</p>
      <button routerLink="/blog" class="pe-4 ps-4 btn btn-primary mb-4">Blog</button>
    </div>
    <div class="col-6 text-center">
      <p>Click the Portfolio button to see all the project that I have made</p>
      <button routerLink="/portfolio" class="pe-4 ps-4 btn btn-primary">Portfolio</button>
    </div>
  </div>
</div>



<!--<p>about works!</p>-->
