<div class="container col-lg-6 signin-form spacer">
  <h1 class="text-center">Sign in</h1>
  <div class="card bg-info border-4 border-secondary">
    <form class=" login" [formGroup]="formLogin" (ngSubmit)="OnSubmitButton()">
      <div class="m-3">
        <label class="form-label" for="email">Email Address</label>
        <input id="email" type="email" class="form-control" [ngClass]="{'is-invalid': Error('email')}" formControlName="email" placeholder="meow@example.com" autocomplete="email">
        <div class="invalid-feedback" *ngIf="Error('email')">
          <span *ngIf="formLogin.get('email')?.errors?.['required']">Email is required</span>
          <span *ngIf="formLogin.get('email')?.errors?.['email']">Enter a valid email please</span>
        </div>
      </div>
      <div class="m-3">
        <label class="form-label" for="password">Password</label>
        <input id="password" type="password" formControlName="password" class="form-control" [ngClass]="{'is-invalid': Error('password')}" placeholder="Password" autocomplete="current-password">
        <div class="invalid-feedback" *ngIf="Error('password')">
          Password is required
        </div>
      </div>
      <div class="ms-3 form-check form-switch">
        <label class="form-check-label">Stay Signed In?</label>
        <input class="form-check-input" type="checkbox">
      </div>

      <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
        {{ errorMessage }}
      </div>

      <div class="text-center mt-2 mb-2">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>
</div>
