<pre>{{ blog | json }}</pre>
<pre>{{ category | json }}</pre>

<form [formGroup]="blogForm" (ngSubmit)="onSaveButton()">
  <div>
    <label for="title">Title</label>
    <input id="title" type="text" formControlName="title" class="form-control" placeholder="title"/>
  </div>
  <div>
    <label for="displayName">Display Name</label>
    <input id="displayName" type="text" formControlName="displayName" class="form-control" placeholder="Display Name">
  </div>
  <div>
    <label for="body">Body</label>
    <input id="body" type="text" formControlName="body" class="form-control" placeholder="Body">
  </div>
  <div>
    <label for="Visibility">Visibility</label>
    <input id="visibility" type="text" formControlName="visibility" class="form-control" placeholder="Visibility">
  </div>

  <div>
    <label for="CategoryID">CategoryID</label>
    <input id="categoryID" type="text" formControlName="categoryId" class="form-control" placeholder="CategoryID">
  </div>

  <button type="submit">Submit</button>
</form>

<p>blog-edit works!</p>
