<pre>{{ blog | json }}</pre>

<form [formGroup]="blogForm" (ngSubmit)="onSaveButton()">
  <div>
    <label for="title">Title</label>
    <input formControlName="title" />
  </div>
  <div>
    <label for="displayName">Display Name</label>
    <input id="displayName" type="displayName" formControlName="displayName" class="form-control" placeholder="Display Name">
  </div>
  <div>
    <label for="body">Body</label>
    <input id="body" type="body" formControlName="body" class="form-control" placeholder="Body">
  </div>
  <div>
    <label for="Visibility">Visibility</label>
    <input id="visibility" type="visibility" formControlName="visibility" class="form-control" placeholder="Visibility">
  </div>

  <button type="submit">Submit</button>
</form>

<p>blog-edit works!</p>
