<!--<pre>
{{ blog$ | async | json }}
</pre>-->

<div class="container">
  <div class="row">
    <div class="col col-lg-12">
      <!-- <img [src]="getServerPath((blog$ | async )!.blogsScreenshot.path)" alt="{{(blog$ | async)!.blogsScreenshot.description}}" class="image-size"> -->
      <img src="images/PlaceholderImage.png" alt="{{(blog$ | async)!.blogsScreenshot.description}}" class="image-size">
    </div>
  </div>
</div>
<div class="container p-2 border-4 border-primary mb-3">
  <div class="row row-cols-md-2 row-cols-1">
    <div class="col col-xl-10 col-md-10 col-sm-10">
      <div class="card text-center p-4 border-4 border-primary" id="blog-card-body">
        <h1 id="card-text">{{(blog$ | async)!.title }}</h1>
        <div class="row mt-3 mb-3">
          <div id="card-text" class="col-4">Posted on: {{ (blog$ | async)!.createdDate | date:'mediumDate'}}</div>
          <div id="card-text" class="col-4">Updated on: {{ (blog$ | async)!.updatedDate | date:'mediumDate' }}</div>
          <div id="card-text" class="col-4">Category: {{ (blog$ | async)!.category.categoryName }}</div>
        </div>
        <div id="card-text">
          {{ (blog$ | async)!.body.toString() }}
        </div>
        <div>
          <button class="btn btn-primary" routerLink="../">Back to Blog List</button>
          <button class="btn btn-success" routerLink="/blog/edit/{{ (blog$ | async)!.id }}" *ngIf="isAuthenticated()">Edit</button>
          <button class="btn btn-danger" (click)="DeletePost()" *ngIf="isAuthenticated()">Delete</button>
        </div>
      </div>
    </div>
    <div class="col col-lg-2">
      <div class="card text-center border-4 border-primary" id="blog-card-body" *ngFor="let blogItems of (blogs$ | async)">
        <div class="card-body" id="blog-card" routerLink="../{{ blogItems.id }}">
          <!-- <img [src]="getServerPath(blogItems.blogsScreenshot.path)" height="100" width="100" id="image-card"> -->
          <img src="images/PlaceholderImage.png" height="100" width="100" id="image-card">
          <h4>{{ blogItems.title }}</h4>
          <p>{{ blogItems.updatedDate | date:'mediumDate' }}</p>
          <p>{{ blogItems.category.categoryName  }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div class="container col-md-6 col-lg-4 spacer">
  <div class="card text-center bg-info p-4 border-4 border-primary">
    <h1>{{(blog$ | async)!.title }}</h1>
    <p>{{ (blog$ | async)!.body }}</p>
    <p>{{ (blog$ | async)!.createdDate | date:'mediumDate'}}</p>
    <p>{{ (blog$ | async)!.updatedDate | date:'mediumDate' }}</p>
    <p>{{ (blog$ | async)!.category.categoryName }}</p>
    <div>
      <button class="btn btn-primary" routerLink="../">Back to Blog List</button>
      <button class="btn btn-success" routerLink="/blog/edit/{{ (blog$ | async)!.id }}" *ngIf="isAuthenticated()">Edit</button>
      <button class="btn btn-danger" (click)="DeletePost()" *ngIf="isAuthenticated()">Delete</button>
    </div>
  </div>
</div> -->

<!--<p>blog-detail works!</p>-->
