<!--<pre>{{ categories | async | json }}</pre>-->

<!--TODO: Create the element to display-->
<div class="category-container container-fluid row">
  <div class="card col-lg-4 col-md-6 col-sm-12 text-center border-3 border-primary mb-2" id="category-card" *ngFor="let categoryItem of (categories | async)">
    <div class="card-body" routerLink="{{ categoryItem.id }}">
      <h2>{{ categoryItem.categoryName }}</h2>
    </div>
  </div>
</div>
<div class="container-fluid text-center spacer">
  <button class="btn btn-success ps-4 pe-4" (click)="CreateCategory()">Create Category</button>
</div>
<!--<p>category-list works!</p>-->
