<pre>{{ item! | json }}</pre>

<form [formGroup]="itemForm" (ngSubmit)="onSave()">
  <div>
    <label for="displayName">Display Name:</label>
    <input id="displayName" type="text" formControlName="displayName" class="form-control" placeholder="Display Name" />
  </div>
  <div>
    <label for="title">Title:</label>
    <input id="title" type="text" formControlName="title" class="form-control" placeholder="Title" />
  </div>
  <div>
    <label for="description">Description:</label>
    <input id="description" type="text" formControlName="description" class="form-control" placeholder="Description" />
  </div>
  <div>
    <label for="version">Version:</label>
    <input id="version" type="text" formControlName="version" class="form-control" placeholder="Version" />
  </div>
  <div>
    <label for="links">Links:</label>
    <input id="links" type="text" formControlName="links" class="form-control" placeholder="Links" />
  </div>
  <div>
    <label categoryId>CategoryID:</label>
    <input id="categoryId" type="text" formControlName="categoryId" class="form-control" placeholder="Category ID" />
  </div>
  <div>
    <label for="imageId"></label>
    <input id="imageId" type="text" formControlName="imageId" class="form-control" placeholder="Image ID" />
  </div>

  <button type="submit">Submit</button>
</form>

<p>portfolios-edit works!</p>
