<!--<pre>{{ portfolioItems$ | async | json}}</pre>-->

<div *ngFor="let Items of (portfolioItems$ | async)">
  <h4>{{ Items.title }}</h4>
  <p>{{ Items.creationDate | date:'mediumDate' }}</p>
  <p>{{ Items.updatedDate | date:'mediumDate' }}</p>
  <p>{{ Items.version }}</p>
  <p>{{ Items.category.categoryName }}</p>
  <button routerLink="{{ Items.id }}">View {{ Items.displayName }}</button>
</div>
<button (click)="CreateItem()" *ngIf="isAuthenticated()">Create Item</button>

<!--<p>portfolios-list works!</p>-->
