.portfolio {
    margin-top: 70px;
}

.bg-info {
  background-color: #7ffc7f !important;
}

.spacer {
  margin-bottom: 500px;
}

#portfolio-card-body {
  cursor: pointer;
}

#card-text{
  color: black;
}