<!--<pre>{{ feedback | async | json }}</pre>-->

<!--TODO: Create element to display feedbacks-->
<div class="feedback-list-container container-fluid row spacer">
    <div class="card col-lg-4 col-md-6 col-sm-12 text-center column-gap-4 border-5 border-white mb-3" id="feedback-card" routerLink="{{ feedbackItem.id }}" *ngFor="let feedbackItem of (feedback | async)">
      <h1>{{ feedbackItem.feedbackName }}</h1>
      <p>{{ feedbackItem.email }}</p>
    </div>
</div>


<!--<p>feedback-list works!</p>-->
