<div class="about-website-container">
  <h1>Welcome!</h1>
  <p>This is where I share Life Story and projects that I have made or contributed.<br> Select which one to view</p>
  <button routerLink="blog">Blogs</button>
  <button routerLink="portfolio">Portfolio</button>
</div>

<div class="about-website">
  <h1>Lorem Ispum</h1>
  <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Urna metus in dui facilisis porttitor orci pretium dui. Litora amet scelerisque inceptos erat ullamcorper fermentum sed! Orci fusce platea finibus leo habitasse rhoncus. Volutpat dui donec quisque congue pellentesque condimentum integer. Feugiat dolor eleifend consectetur dis, nascetur risus. Tincidunt phasellus lacus eleifend magnis; duis ad pretium. Ac sapien consectetur egestas nam in magna aliquam dis.</p>
</div>

<div class="feedback-form">
  <h2>lorem Ispum</h2>
  <app-feedback-form></app-feedback-form>
</div>

<p>home works!</p>
