<div class="container p-3 mt-5 mb-4 text-center">
  <div class="card border-primary">
    <div>
      <img src="../../images/Desktop-Image.png" class="images-size">
      <div class="image-text card">
        <h1 class="">Welcome!</h1>
        <p class="text-wrap text-start fs-4">This is where I can share the life story or the project that I have made.</p>
        <p class="text-wrap text-start fs-6">Click the button below to learn more.</p>
        <div class="text-center">
          <button class="btn btn-primary" id="about-button" routerLink="about">About this website</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container p3 mb-4 text-center">
  <div class="row">
    <div class="card col border" id="blog-card">
      <div class="card-body" id="main-text">
        <h1 class="text-center">Blogs:</h1>
        <p class="text-start text-wrap fs-2 m-1">Blogs is where you can see my life story whether it can be technology related or situation in my life.</p>
        <p class="text-start text-wrap fs-2 m-1">It can include my progress of the project that I am working on.</p>
        <!-- <p class="text-start text-wrap fs-2 m-1">Click the button below to see the list of the posts.</p> -->
      </div>
      <div>
        <button class="px-3 py-2 btn btn-primary" routerLink="blog">
          See Blogs
        </button>
      </div>
    </div>
    <div class="card col border" id="portfolio-card">
      <div class="card-body" id="main-text">
        <h1 class="text-center">Portfolio:</h1>
        <p class="text-start text-wrap fs-2 m-1">Portfolio is where you can see all of my projects that I have made.</p>
        <p class="text-start text-wrap fs-2 m-1">It can include the website, games, desktop app, arts, etc.</p>
        <!-- <p class="text-start text-wrap fs-2 m-1"></p> -->
      </div>
      <div>
        <button class="px-3 py-2 btn btn-primary" routerLink="portfolio">
          See Portfolio
        </button>
      </div>
    </div>
  </div>
</div>
<div class="container col-lg-6 p3 mb-4 text-center">
  
</div>
<div class="container col-lg-6 justify-content-center feedback-form mb-4">
  <div class="card px-5 border border-primary" id="feedback-form">
    <h2 class="text-center" id="main-text">Wants some feedback?</h2>
    <app-feedback-form></app-feedback-form>
  </div>
</div>








<!-- 




<div class="container col-lg-6 justify-content-center feedback-form mb-4">
  <div class="card bg-info ps-5 pe-5 border-4 border-primary">
    <h2 class="text-center">Wants some feedback?</h2>
    <app-feedback-form></app-feedback-form>
  </div>
</div>
 -->
