.bg-info {
  background-color: #33ff55 !important;
}

.actions {
  margin-top: 70px;
}

.btn-primary:active {
    background-color: gray;
}

.images-size {
  width: 100%;
  height: 500px;
  object-fit: cover;
  position: relative;
}

.image-text {
  position: absolute;
  background-color: white;
  color: black;
  top: 25%;
  left: 25%;
  right: 25%;
}

#blog-card {
  background-color: rgb(103, 225, 103);
}

#portfolio-card {
  background-color: rgb(103, 225, 103);
}

#main-text {
  color: black;
}

#feedback-form {
  background-color: rgb(103, 225, 103);
}

#about-button {
  background-color: black;
  color: white;
}