<!--<pre>{{ feedback | json }}</pre>-->

<!--TODO: Create form to create feedback-->
<form [formGroup]="feedbackForm" (ngSubmit)="onSave()">
  <div>
    <label for="feedbackName">Title</label>
    <input id="feedbackName" type="text" formControlName="feedbackName" class="form-control" placeholder="Title"/>
  </div>
  <div>
    <label for="email">Email</label>
    <input id="email" type="text" formControlName="email" class="form-control" placeholder="Email"/>
  </div>
  <div>
    <label for="comment">Comment</label>
    <input id="comment" type="text" formControlName="comment" class="form-control" placeholder="Give me feedback"/>
  </div>
  <div>
    <label for="responseRequired">Need response?</label>
    <input id="responseRequired" type="checkbox" formControlName="responseRequired"/>
  </div>
  <button type="submit">Submit</button>
</form>

<p *ngIf="isCreated">Feedback created</p>

<!--<p>feedback-form works!</p>-->
