@import '../styles.css';

:host {
    max-width: 1280px;
    padding: 2rem;
    text-align: left;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}

table {
    margin: 0 auto;
}

.main-app {
    position: relative;
    min-height: 100vh;
    padding-bottom: 70px;
    /* background-color: black; */
}

.dark-mode {
    --primary-bg-color: black !important;
}
.light-mode {
    --primary-bg-color: white !important;
}

.bg-primary {
    background-color: var(--primary-bg-color) !important;
}




