<!--<pre>
  {{ blogs$ | async | json}}
</pre>-->
<div class="blogs container-fluid row">
  <div class="card-bg card col-xl-4 col-md-6 col-sm-12 text-center border-4 border-primary" *ngFor="let blogItems of (blogs$ | async)">
    <div class="card-body">
      <h4>{{ blogItems.title }}</h4>
      <p>{{ blogItems.createdDate | date:'mediumDate' }}</p>
      <p>{{ blogItems.updatedDate | date:'mediumDate' }}</p>
      <p>{{ blogItems.category.categoryName  }}</p>
      <button class="btn btn-primary" routerLink="{{ blogItems.id }}">View {{ blogItems.displayName }}</button>
    </div>
  </div>
</div>
<div class="text-center mt-4 spacer">
  <button class="col-2 btn btn-success" (click)="CreateBlog()" *ngIf="isAuthenticated()">Create Blog</button>
</div>

<!--<p>blog-list works!</p>-->
