.feedback-detail-container {
    margin-top: 70px;
}
.spacer {
  margin-bottom: 500px;
}
#feedback-card{
  cursor: pointer;
}

#feedback-card-body {
  background-color: rgb(103, 225, 103);
}

#card-text{
  color: black;
}

.mt-5 {
  margin-top: 75px !important;
}