.portfolio {
    margin-top: 70px;
}

.spacer {
  margin-bottom: 500px;
}

.image-size {
  height: 500px;
  width: 100%;
  object-fit: contain;
}

#portfolio-card{
  cursor: pointer;
}

#portfolio-card-body {
  background-color: rgb(103, 225, 103);
}

#card-text{
  color: black;
}
